<% provide :title, @food.name %>
<div class="row">
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <td><%= image_tag "#{@food.name}.png" %></td>
          <td><%= @food.name %></td>
          <td><%= @food.price %></td>
          <td><%= @food.description %></td>
          <td>
            <% if logged_in? %>
              <%= link_to t(".edit"), edit_food_path(@food) %>
              | <%= link_to t(".delete"), @food, method: :delete,
                data: {confirm: t(".confirm")} %>
            <% end %>
          </td>
          <td>
            <% unless logged_in? %>
              <%= link_to t(".order"), "#", class: "btn btn-lg btn-primary" %>
            <% end %>
          </td>
        </tr>
      </thead>
    </table>
  </div>
  <% unless logged_in? %>
    <div class="col-md-4">
      <%= render "foods/order" %>
    </div>
  <% end %>
</div>
