<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= form_tag categories_path, method: :get, id: "search-form" do %>
      <p>
        <%= text_field_tag :search, params[:search], class: "text_field_tag_style",
          placeholder: t(".search"), size: 15 %>
        <%= submit_tag t(".search"), class: "btn btn-lg btn-primary" %>
      </p>
      <% end %>
    </div>
  </div>
  <div class="col-md-7">
    <table class="table">
      <thead>
        <tr>
          <th><%= t ".image" %></th>
          <th><%= t ".name" %></th>
        </tr>
      </thead>
    <%= render @categories %>
    </table>
  </div>
</div>
